
.header__hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: -20px;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1;
}

.header__hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        to bottom, 

        /* original Color */
        /* rgba(10,10,10,0.6) 0%,
        rgba(10,10,10,0.6) 60%,
        rgba(10,10,10,1) 100%); */

        rgba(52,58,64,1) 10%,
        rgba(52,58,64,0.6) 60%,
        rgba(52,58,64,0.6) 10%);
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 580px;
}

.header__info {
    max-width: 500px;
    margin-top: 40px;
}

.header__title {
    margin: 0 0 10px 0;
}

.header__subtitle {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 35px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    margin: 0 0 25px 0;
}

.header__shortDescription {
    font-family: 'Play', sans-serif;    
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    margin: 0 0 15px 0;
}